<!DOCTYPE html>
<html>


<script>
$(document).ready(function(){
  $("#backtohome").click(function(){
    window.location.href='/';
  });
  let user=localStorage.getItem('username');
  $('#username').html(user);
});
</script>
<body>

<span>Welcome : <%= profileData.name %> Your profile is Completed following is your details<br></span>
<div>
            Email:     <%= profileData.email %><br>
            Gender:     <%= profileData.gender %><br>
            <p id="username"></p>
           
<div>
<button class="w3-btn w3-blue" id="backtohome">Back to Home</button></p>

</body>
</html>